<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/offers_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>

        -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/csrdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="ru.teamrocket.csrsystemweb.model.Client" />
        <mapping class="ru.teamrocket.csrsystemweb.model.User" />
        <mapping class="ru.teamrocket.csrsystemweb.model.Offer" />
        <mapping class="ru.teamrocket.csrsystemweb.model.Product" />
        <mapping class="ru.teamrocket.csrsystemweb.model.Characteristic" />
        <mapping class="ru.teamrocket.csrsystemweb.model.CharacteristicValue" />
    </session-factory>
</hibernate-configuration>